#featured{ 
	width:720px; 
	padding-right:250px; 
	position:relative; 
	border:5px solid #4C9015; 
	height:250px; overflow:hidden;
	background:#fff;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}
#featured a{
text-decoration:none;
color:#FFFFFF;
}
#featured a:hover{
text-decoration:none;
color:#66CC00;
}

#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:670px; 
	list-style:none; 
	padding:0; margin:0; 
	width:300px; height:250px;
	overflow:auto;
	overflow-x:hidden;
}
#featured ul.ui-tabs-nav li{ 
	padding:0px 0; padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px;
	line-height:18px;
	font-weight:bold;
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:62px; text-decoration:none;
	color:#333;  background:#fff; 
	line-height:20px; outline:none;
	background-image:url(../images/bg-content-sub-content.jpg);
	background-position:bottom;
}
#featured li.ui-tabs-nav-item a:hover{
	background-image:url(../images/bg-selected-slider-hover.jpg);
	background-repeat:repeat-x;
}
#featured li.ui-tabs-selected{ 
	background:url('../images/selected-item.gif') top left no-repeat; 
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{
	background-image:url(../images/bg-selected-slider.jpg);
	background-repeat:repeat-x;
	color:#FFFFFF;
	text-shadow:2px 2px 2px #666;
}
#featured .ui-tabs-panel{ 
	width:670px; height:250px; 
	background:#999; position:absolute;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	bottom:0; left:0; 
	height:70px; 
	background: url('../images/transparent-bg.png'); 
}
#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:12px; color:#f0f0f0; right:10px; top:-20px; line-height:20px; margin:0; outline:none; background:#333;
}
#featured .info h2{ 
	font-size:14px;
	color:#fff; padding:5px; margin:0; font-weight:bold;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Arial; font-size:12px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}